$color: rebeccapurple;

@font-face {
  font-family: "Atkinson Hyperlegible Italic";
  src: url("./fonts/Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("./fonts/Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-VariableFont_wght.ttf");
}

.atkinson-hyperlegible-regular {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.atkinson-hyperlegible-bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: italic;
}

body { 
  min-height: 100vh;
  font-family: "Atkinson Hyperlegible", serif;
  background-color: #f9f9f9;
  font-size: 18px;
}

.main {
  max-width: 1008px;
  margin: 0 auto;
}

.p {
  margin: 1rem auto;
}

[aria-current] { font-weight: bold; }


.mast {
  max-width: 960px;
  margin: 4rem 0 0 0;
  position: relative;
  .h1 {
    font-size: 171px;
    font-weight: 900;
    margin: 0 auto;
  }
  .h2 {
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    position: absolute;
    top: 0;
  }
}

.btn {
  background-color: #150C0C;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: box-shadow .3s;
}

.btn:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}