---
  title: State of UX
  layout: layouts/base.njk
---

<div class="mast">  
  <div>
    <h2 class="h2">The</h2>
    <h1 class="h1">State of UX</h1>
  </div>
</div>

<p class="p">The State of UX project aims to provide an industry overview of, and for, user experience (UX) professionals. We are particularly interested in conducting non-commercial research for locations & sectors where a report of this nature has not yet been conducted on a national scale.</p>

<p class="p">It aims to cover ways of working, professional training, salary information, education, areas of work and areas of responsibility, tools, as well as general trends, and ultimately aims to provide insights which will benefit the UX community. </p>

<p class="p">In addition to this survey data, we also aim to conduct qualitative research through individual interviews with UX professionals, to provide deeper insights regarding ways of working, job satisfaction, culture, and challenges. By gathering and providing a comprehensive view of the state of the UX industry, we hope it will provide a groundwork for further research and industry improvement.</p>

<p class="p">
  <strong>
    Do you have a question you’d like to ask the industry?Now is your chance :)
  </strong>
</p>

<p class="p">We are seeking submissions and collaborators. Ultimately we want this project to be of value to the UX community, therefore what would you like to know? We ask you to submit a question, or topic, you’d like us to ask the UX community about.</p>