---
layout: base.njk
title: Hello World
---


<div class="mast">  
  <div>
    <h2 class="h2">The</h2>
    <h1 class="h1">State of UX</h1>
  </div>
</div>

<p class="p">The State of UX project aims to provide an industry overview of, and for, user experience (UX) professionals. We are particularly interested in conducting non-commercial research for locations & sectors where a report of this nature has not yet been conducted on a national scale.</p>

<p class="p">It aims to cover ways of working, professional training, salary information, education, areas of work and areas of responsibility, tools, as well as general trends, and ultimately aims to provide insights which will benefit the UX community. </p>

<p class="p">In addition to this survey data, we also aim to conduct qualitative research through individual interviews with UX professionals, to provide deeper insights regarding ways of working, job satisfaction, culture, and challenges. By gathering and providing a comprehensive view of the state of the UX industry, we hope it will provide a groundwork for further research and industry improvement.</p>

<a class="btn" href="https://forms.gle/5KD77Ns8wuyro5877">Submit a question</a>

<div class="hero">
  <img class="img" src="img/hero.png">
</div>

<h2>Here is what you can expect</h2>

