---
layout: base.njk
title: Hello World
---

<div class="main">
  <div class="mast">
    <div>
      <h2 class="h2">The</h2>
      <h1 class="h1">State of UX</h1>
    </div>
  </div>

  <p class="p">
    The State of UX project aims to provide an industry overview of, and for,
    user experience (UX) professionals. We are particularly interested in
    conducting non-commercial research for locations & sectors where a report of
    this nature has not yet been conducted on a national scale.
  </p>

  <p class="p">
    It aims to cover ways of working, professional training, salary information,
    education, areas of work and areas of responsibility, tools, as well as
    general trends, and ultimately aims to provide insights which will benefit
    the UX community.
  </p>

  <p class="p">
    In addition to this survey data, we also aim to conduct qualitative research
    through individual interviews with UX professionals, to provide deeper
    insights regarding ways of working, job satisfaction, culture, and
    challenges. By gathering and providing a comprehensive view of the state of
    the UX industry, we hope it will provide a groundwork for further research
    and industry improvement.
  </p>

  <a class="btn" href="https://forms.gle/5KD77Ns8wuyro5877"
    >Submit a question</a
  >

  <div class="rocket decoration" aria-hidden="true" focusable="false"></div>
  <div class="phone decoration" aria-hidden="true" focusable="false"></div>
  <div class="notes decoration" aria-hidden="true" focusable="false"></div>
  <div class="click decoration" aria-hidden="true" focusable="false"></div>
</div> {# end of .main #}

<div class="hero">
  <img class="img" src="img/hero.png" />
</div>

<div class="main">
  <h2 class="expect">Here is what you can expect</h2>

  <div class="cards">
    <div class="card">
      <img class="img" src="img/Rectangle4.png" />
      <h3 class="card-title">Tell us your question</h3>
      <p class="card-subtitle">Send in your question via the submit button.</p>
    </div>

    <div class="card">
      <img class="img" src="img/Rectangle3.png" />
      <h3 class="card-title">We ask UX professionals</h3>
      <p class="card-subtitle">
        Additionally to the survey we interview UX professionals, providing
        deeper insights.
      </p>
    </div>

    <div class="card">
      <img class="img" src="img/Rectangle2.png" />
      <h3 class="card-title">You profit from the results</h3>
      <p class="card-subtitle">
        The research insights will be published to the community.
      </p>
    </div>
  </div>

  <div class="last-section">
    <h2 class="questions">Got a burning question?</h2>

    <p>
      We are seeking input from UX practitioners, researchers, and students to
      help shape a meaningful inquiry into the field of User Experience.
    </p>
    <p>
      If there’s a question or topic you believe warrants broader discussion or
      investigation, we invite you to submit it.
    </p>

    <p>
      Your contribution will help inform the direction of this project and
      ensure its relevance to the UX community.
    </p>

    <a class="btn" href="https://forms.gle/5KD77Ns8wuyro5877"
      >Submit a question</a
    >
  </div>

  <p>
    Brought to you by
    <a
      href="https://www.linkedin.com/in/shanemoloney/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Shane Moloney
    </a>
    &amp;
    <a
      href="https://www.linkedin.com/in/anna-grossalber/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Anna Großalber
    </a>
  </p>

  <div class="planet decoration" aria-hidden="true" focusable="false"></div>
  <div class="eye decoration" aria-hidden="true" focusable="false"></div>
  <div class="star decoration" aria-hidden="true" focusable="false"></div>
  <div class="hand decoration" aria-hidden="true" focusable="false"></div>
  <div class="face decoration" aria-hidden="true" focusable="false"></div>
</div>
{# end of .main #}
